:root {
    --Celeste: #32e0e1;
    --Negro: hsl(0, 2%, 10%);
    --Azulado: #3fa4c2;
    --Rosa: #f55c8f;
    --Noche: #110753;
    --Amarillo: #f7c669;
    --Gris: #2f2e2f;
    --Fucsia: hsl(326, 93%, 34%);
    --Blanco: #ffffff;
    --design-width: 1200;
}

* {
    color: var(--Blanco);
    font-family: "Krub", sans-serif;
    box-sizing: border-box;
    font-size: 10px;
}


h2 {
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
}

h3 {
    font-size: 1rem;
}
p {
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
}

body {
    overflow-x: hidden;
    margin: 0;
    background-color: var(--Negro);
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

/* <!--  -//----------PORTADA Y TÍTULO----------//-  --> */

header {
    display:flex;
    background: url(./assets/images/Portada\ piano.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 25vw;
}

.logotipo {
    position: fixed;
    max-width: 40px;
    border-radius: 45px;
    border-color: var(--Fucsia);
    border-style: solid;
    z-index: 1;
}

h1 {
    font-size: 2rem;
    position:fixed;
    z-index: 1;
    margin-left: 50px;
    text-shadow: 1px 1px 1px var(--Fucsia);
}



/* <!-- ----BARRA DE NAVEGACIÓN----- -->  */

#nav {
    list-style-type: none;
    display: flex;
    margin: 0;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}


.nav-bg {
    background: #d4138d;
    background-image: linear-gradient(90deg, #d4138d 0%, #a6355b 47%, #c9ba30 88%);
    min-width: 100vw;
    height: 30px;
    display:grid;
    
   /*  align-items: center; */
   /*  justify-content: space-around; */
    
    
}
/* nav {
    border-style: outset;
    border-radius: 30px 2px 30px 2px;
    border-color: var(--Fucsia);
    max-width: none;
    max-height: 100px;
    min-width: 200px;
    min-height: 20px;
    text-align: center;
    padding-right: 35px;

} */

#nav li a {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 25px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:8%; */
   /*  margin-left: 35%;
    margin-right: 35%; */
/*     transition: transform 0.2s, background-color 0.3s;
 */}

#nav li a:hover {
/*     transform: scale(2.30);
 */ background: #d4138d;
    background-image: linear-gradient(90deg, #c9ba30 0%,  #a6355b 47%,#d4138d 88%);
    background-image:linear-gradient#8A018C;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--Rosa);
    box-shadow: 1px 1px 1px #8A018C;
    padding: 5px;

}


/* .descripcion {
    color: #32e0e1;
    display: flex;
    align-items: end;
} */


/* .conoceme {
    display: grid;
    justify-items:center;
    align-items: center;
    background-color: var(--Negro);
    overflow: hidden;
    border: solid;
    border-color: var(--Pink);
    border-radius: 45px;
    border-width: 0.5rem;
    margin: 1rem;
    padding: 2rem;
} */

/* section {
    display:inline-table;
    position:relative;
    max-width: 100vw;
    max-height: 20vw;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
} */

/* #conoceme {
    background-color: #d4138d6c;
    position: relative;
}
.conoceme {
    position: absolute;
    align-items: center;
    display: flex;
}
*/
section .conoceme .conoceme_titulo {
    text-align: center;
    position: relative;
    align-self:flex-start;
    justify-self: center;
    padding-bottom: 1rem;
}

section .conoceme .conoceme_texto {
    position: relative;
    justify-content: center;
    align-items:center;
    text-align: justify;
}
/* section .conoceme .conoceme_texto p {
    text-align: justify;
    position: relative;
}
section .conoceme .conoceme_foto {
   align-self: end; 
}  */



.foto {
    width: 40vw;
    border: solid;
    border-radius: 20px;
    border-color: #ec008c;
    box-shadow: 2px 2px 4px #ad0f73;

}

section .conoceme .conoceme_boton {
    color: var(--Noche);
    font-family: Krub, "Trebuchet MS";
    font-size: 1rem;
    font-weight: 800; 
    background-color: var(--Fucsia);
    border: solid;
    border-radius: 50px;
    border-width: 1px;
    border-color: var(--Rosa);
    margin-left: 40%;
}
section .conoceme .conoceme_boton:hover {
    transform: scale(1.10);
    color: #f20779;
    background-color: var(--Noche);
}

/* SECCIÓN DE SEPARACIÓN */
.separador {
    display: grid;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    max-height: 40vw;
}

/* PÁGINA DE MIS TEMAS */

.h2_MT {
    text-align: center;

}

/* ESTILOS SINTETIZADOR */



#main-synth-wrapper {
    background: #1a1a1a;
    background: #393d3d;
    background: linear-gradient(90deg,rgba(57, 61, 61, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(74, 74, 72, 1) 100%);
    justify-self: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    max-width: 80vw;
    min-height:max-content;
    border: solid;
    border-color: var(--Gris);
    border-radius: 5px;
    border-width: 2px;
    padding-top: 10px;
    padding-bottom: 0;
    box-shadow: 5px 5px 7px #393d3d;   

}

#contenedor_sintetizador {

    display: flex;
    flex-direction: column;
    columns: 2;
    align-items: center;
    
    /* box-sizing: border-box; */
}

/* #title {
  background-color: #1a1a1a;
  padding: calc(20 / var(--design-width) * 100vw);
  border-radius: calc(20 / var(--design-width) * 100vw);
  color: #f20779;
  width: calc(820 / var(--design-width) * 100vw);
  max-width: 90%;
  margin-bottom: calc(40 / var(--design-width) * 100vw);
  text-align: center;
  box-sizing: border-box;
}

#title h1 {
  font-size: calc(40 / var(--design-width) * 100vw);
  margin: 0;
} */

#padContainer {
    display: flex;

    gap: 0.5%;    
    margin-bottom:5%;
    justify-content: center;
    align-items: center;
}

#ruedas {
    display: flex;    
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;
}

.rueda_iz {
    width: 4vw;
    height: 4vw;
    border-color: #8A018C;
    /* margin-left: 30px;
    margin-bottom: 10PX; */
    border: solid;
    border-width: 1.5px;
    border-radius: 45px;
    /* background: #bf009f;
background: linear-gradient(90deg, rgba(191, 0, 159, 1) 50%, rgba(245, 176, 243, 1) 53%, rgba(250, 0, 250, 1) 100%); */


    /* background: #fb3fe2;
    background: radial-gradient(circle, rgba(251, 63, 226, 1) 19%, rgba(252, 70, 107, 1) 35%); */
    transition: transform 2s;

    background: #f373f5;
background: linear-gradient(0deg, rgba(243, 115, 245, 1) 0%, rgba(176, 7, 176, 1) 34%);
    
}

.rueda_iz:hover {
    transform: rotate(360deg);
}


.pad {
    width: 16%;
    height: 18%;
    margin-left: 1%;
    margin-right: 1%;
    cursor: pointer;
    border: solid;
    border-color:#f20779;
    border-radius: 10px;
    background: black;
    transition: transform 0.2s, background-color 0.3s;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:1%;
    
    
}

.pad:hover {
    transform: scale(1.05);
}

.pad.active {
    background-color: #ec008ecc;
}

.pad img {
    width: 10vw;
    height: 10vw;
    /* object-fit: cover; */
    opacity: 0.8;
    border-radius: 5px;
}

.pad span {
    font-size:1rem;
    padding-top:5px ;
    color: var(--Celeste);
    font-weight: bolder;
    text-shadow: 3px 3px 5px black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    max-width: 100%;
    background: none;


}

#keyboard {
    position: relative;
    width: 65vw;
    height: 25vw;
    /* width: calc(1000 / var(--design-width) * 100vw); */
    min-width: 550px;
    /* height: calc(300 / var(--design-width) * 100vw); */
    min-height: 50px;
    /* margin: calc(50 / var(--design-width) * 100vw) auto; */
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    /* box-sizing: border-box; */
}

.white-keys-container {
    display: flex;
    height: 100%;
}

.black-keys-container {
    position: absolute;
    display: flex;
    gap: 3.5vw;
    /* top: 0;
    left: 0;
    right: 0; */
    height: 65%;
    display: flex;
    /* margin-left: calc((100 / var(--design-width) * 100vw) * 0.7); */
}

.key {
    transition: 0.01s;
    box-sizing: border-box;
    border: none;
    border-radius: 3px 3px 3px 3px ;
    border-top: #393d3d;
}

.white.key {
    display: flex;
    width: 7.5vw;
    height: 100%;
    background: white;
    border: solid;
    border-color: #000000;
    border-width: 1px;
    z-index: 1;
    position: relative;
    

}

.black.key {
    width: calc(50 / var(--design-width) * 100vw);
    height: 100%;
    background: #000000;
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(97, 97, 97, 1) 10%, rgba(0, 0, 0, 1) 100%);
    position: relative;
    z-index: 2;
   /* 
    margin-left: calc((100 / var(--design-width) * 100vw) / 2 - (50 / var(--design-width) * 100vw) / 2);
    margin-right: calc((100 / var(--design-width) * 100vw) / 2 - (50 / var(--design-width) * 100vw) / 2); */
    box-shadow: 2px 2px 5px #393d3d; 
}



.none {
    display: flex;
    padding: 1.8vw;
}

/* .black.key:nth-child(1) {
    margin-left: calc((100 / var(--design-width) * 100vw) * 0 - (50 / var(--design-width) * 100vw) / 2);
}

.black.key:nth-child(2) {
    margin-left: calc((100 / var(--design-width) * 100vw) * 1 - (50 / var(--design-width) * 100vw) / 2);
}

.black.key:nth-child(3) {
    margin-left: calc((100 / var(--design-width) * 100vw) * 2 - (50 / var(--design-width) * 100vw) / 2);
}

.black.key:nth-child(4) {
    margin-left: calc((100 / var(--design-width) * 100vw) * 1 - (50 / var(--design-width) * 100vw) / 2);
}

.black.key:nth-child(5) {
    margin-left: calc((100 / var(--design-width) * 100vw) * 0.5 - (50 / var(--design-width) * 100vw) / 2);
}

.black.key:nth-child(6) {
    margin-left: calc((100 / var(--design-width) * 100vw) * 0.5 - (50 / var(--design-width) * 100vw) / 2);
}

.black.key:nth-child(7) {
    margin-left: calc((100 / var(--design-width) * 100vw) * 0.5 - (50 / var(--design-width) * 100vw) / 2);
} */

.white.key:active,
.black.key:active {
    transform: translateY(calc(4 / var(--design-width) * 100vw));
    box-shadow: inset 0 0 calc(5 / var(--design-width) * 100vw) #000;
}

.white.key.active {
    background: #d0d0d0;
}

.black.key.active {
    background: #333;
}

.note-label {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: #ec008c;
    font-size: calc(30 / var(--design-width) * 100vw);
    z-index: 999;
    animation: fadeOut 0.5s forwards;
    pointer-events: none;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        top: 10%;
    }

    100% {
        opacity: 0;
        top: 0px;
    }
}

@media (max-width: 150px) {
    #keyboard {
        min-width: 320px;
        height: 150px;
    }
}